Options +FollowSymlinks

RewriteEngine on



#directory

RewriteCond %{REQUEST_FILENAME} !-d



#file

RewriteCond %{REQUEST_FILENAME} !-f



#link

RewriteCond %{REQUEST_FILENAME} !-l



RewriteRule ^(.+)$ ?url=$1 [QSA,L]

 <IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
    </IfModule>